button {
  background-color: #44318D;
  color: white;
  border: 0px;
  padding: 20px;
  border-radius: 3px;
  margin: 10px;
}

button:hover {
  background-color: #2A1B3D;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #D83F87;
  overflow: hidden;
}

.header {
  text-align: center;
  margin: 50px;
  font-size: 40px;
  position: absolute;
  top: 10%;
  color: white;
}

.shop-link {
  position: absolute;
  right: 30px;
  top: 30px;
}

.category-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-window {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-window .index-window-cont {
  width: 700px;
  text-align: center;
}

.index-window .index-window-cont h1 {
  text-align: center;
  margin: 100px;
}

.index-window .index-window-cont p {
  text-align: center;
  margin: 100px;
}

.category-card-wrapper {
  display: inline-block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.category-card-wrapper .category-card {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-card-wrapper .category-card h1 {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.category-card-wrapper .category-card:hover {
  scale: 1.5;
  z-index: 5;
}

.category-card-wrapper .category-card:hover .h1 {
  bottom: -50px;
}

.playlist-item {
  overflow: scroll;
  height: 100vh;
}

.track-wrapper {
  overflow: hidden;
}

.playlist-card-wrapper {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.track-item-cont {
  width: 300px;
  border: 1px solid white;
}

.track-highlight {
  width: 40%;
  height: 60%;
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.screen {
  height: 100vh;
  overflow: hidden;
}

.track-card {
  background-color: #44318D;
  widht: 400px;
  border-radius: 10px;
  color: white;
  padding: 40px;
  border: 1px solid #2A1B3D;
}

.track-card img {
  border-radius: 5px;
}

.track-card h3 {
  margin: 30px;
}

.album-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album-screen .album-cont {
  position: relative;
}

.album-screen .album-cont .album-info {
  float: left;
  height: 640px;
  padding: 50px;
  text-align: center;
  color: white;
}

.album-screen .album-cont .album-info h1 {
  margin: 30px;
  margin-top: 120px;
  color: black;
}

.album-screen .album-cont .album-info h2 {
  margin: 20px;
}

.album-screen .album-cont .album-info h3 {
  margin-bottom: 50px;
}

.album-screen .album-cont .album-pic {
  float: right;
}

.album-screen .album-cont .album-pic img {
  border-radius: 10px;
}

.shop {
  margin: 50px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy-policy {
  margin: 30px;
  overflow: scroll;
}

.privacy-policy h2 {
  margin: 30px;
}

.privacy-policy ol {
  margin: 30px;
}

.privacy-policy p {
  margin: 30px;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.fade-enter-active {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.fade-enter-done {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/*# sourceMappingURL=style.css.map */